GITHUB_WEBHOOK_SECRET="generate-a-random-long-secret-and-keep-it-here"
CLIENT_ID="Register a Github App and store the client id for the app here"
CLIENT_SECRET="Register a github app and store the generated client secret for the app here"

# This value is either localhost at whatever port the client is running at or it is the production host for the client's uri
CLIENT_ORIGIN="http://localhost:3000"

# express server port (pick a value that will not clash with the clients)
PORT=3003

# add this postgreSQL userid to your .env
PGUSER="hbar1st"

# add the password we discussed for postgreSQL here
PGPASSWORD="password"

# do not change the name of the db though
PGDATABASE="chinwagdb"

# do not change the name of the test db either
PGDATABASE="chinwag_testdb"

# this port should work as is (unless you have a conflict then change it)
PGPORT="5455"

# do not change this. It will be set to production if we deploy by the PaaS
NODE_ENV="development"

# do not change this if you're working locally
PG_HOST="localhost"

# when you first run `npm start` it will complain that JWT_SECRET is missing and give you a generated random value for it
# use that value to define your real JWT_SECRET in .env and then retry the start command
JWT_SECRET="very long string here"

# use an integer value here like this one and keep it secret
HASH_SALT=7

# Cloudinary API values (free with a user account)
CLOUDINARY_NAME="cloudinary name here"
CLOUDINARY_API_KEY="api key here"
CLOUDINARY_API_SECRET="api secret here"